<component name="ArtifactManager">
  <artifact type="exploded-war" name="springbookSecond368:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springbookSecond368_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springbookSecond368/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springbookSecond368" />
          <element id="module-output" name="springbookSecond368.main" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Gradle: org.springframework:spring-core:5.2.9.RELEASE" />
          <element id="library" level="project" name="Gradle: org.springframework:spring-webmvc:5.2.9.RELEASE" />
          <element id="library" level="project" name="Gradle: org.springframework:spring-web:5.2.9.RELEASE" />
          <element id="library" level="project" name="Gradle: org.springframework:spring-aop:5.2.9.RELEASE" />
          <element id="library" level="project" name="Gradle: org.springframework:spring-beans:5.2.9.RELEASE" />
          <element id="library" level="project" name="Gradle: org.springframework:spring-context:5.2.9.RELEASE" />
          <element id="library" level="project" name="Gradle: org.springframework:spring-expression:5.2.9.RELEASE" />
          <element id="library" level="project" name="Gradle: org.springframework:spring-jcl:5.2.9.RELEASE" />
          <element id="library" level="project" name="Gradle: javax.servlet.jsp:jsp-api:2.2" />
          <element id="library" level="project" name="Gradle: javax.servlet:javax.servlet-api:4.0.1" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="springbookSecond368.main/web/Web Gradle : springbookSecond368-1.0.0.war" />
    </root>
  </artifact>
</component>