<component name="ArtifactManager">
  <artifact type="exploded-war" name="springbookSecond094:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springbookSecond094_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springbookSecond077" />
          <element id="module-output" name="springbookSecond094" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="springbookSecond094/web/Web" />
    </root>
  </artifact>
</component>